owner                = "data-platform"
cost_center          = "marketing-intelligence"
vpc_id               = "vpc-xxxxxxxx"
private_subnet_ids   = ["subnet-aaaaaaaa", "subnet-bbbbbbbb"]
db_master_password   = "replace-me"
budget_email         = "ops@example.com"
ses_sender_email     = "digest@example.com"
lambda_package_path  = "../../build/lambda-api.zip"
provider_keys_secret_name = "claro-data-prod/provider-api-keys"
app_config_secret_name    = "claro-data-prod/app-config"
aws_credentials_secret_name = "claro-data-prod/aws-credentials"
database_secret_name        = "claro-data-prod/database"
